 #logo1{

 	top: -900px;
  float: right;
  right: 108px;
   position: ;


 }
#menu{
	  position: absolute;
  top: -465px;
  right: -1000px;
}


.list_menu{
	-webkit-border-top-left-radius: 100px;
-webkit-border-bottom-left-radius: 100px;
-moz-border-radius-topleft: 100px;
-moz-border-radius-bottomleft: 100px;
border-top-left-radius: 100px;
border-bottom-left-radius: 100px;
	-webkit-box-shadow: -4px 10px 24px -3px rgba(0,0,0,0.75);
-moz-box-shadow: -4px 10px 24px -3px rgba(0,0,0,0.75);
box-shadow: -4px 10px 24px -3px rgba(0,0,0,0.75);
	list-style: none;
	
height: 50px;

}

.numbers{


border-radius: 200px;
background: #df3947;
height: 40px;
top: 8px;
text-align: center;;
color: #fff;
font-weight: bold;
  font-size: 25px;
}

.texto_menu{



font-weight: bold;
text-align: center;
 font-size: 20px;
}
.texto_menu p{
	color: #fa6135;
	  padding-top: 10px;
}
ul li{
	padding: 3px;
	margin-bottom: 11px;
  cursor: pointer;
}

#numbers2{
border-radius: 200px;

top: 8px;
border-radius: 200px;
background: #fa6135;
height: 40px;

text-align: center;;
color: #fff;
font-weight: bold;
  font-size: 25px;
}
#numbers1{
border-radius: 200px;

top: 8px;
border-radius: 200px;
background: #df3947;
height: 40px;

text-align: center;;
color: #fff;
font-weight: bold;
  font-size: 25px;
}


#numbers3{
border-radius: 200px;
top: 8px;

border-radius: 200px;
background: #3eb69d;
height: 40px;

text-align: center;;
color: #fff;
font-weight: bold;
  font-size: 25px;
}

#numbers4{
border-radius: 210px;
width: 
top: 8px;
border-radius: 200px;
background: #f4c827;
height: 40px;

text-align: center;;
color: #fff;
font-weight: bold;
  font-size: 25px;
}

#numbers4{
border-radius: 200px;
top: 8px;

border-radius: 200px;
background: #f4c827;
height: 40px;

text-align: center;;
color: #fff;
font-weight: bold;
  font-size: 25px;
}



#numbers5{
border-radius: 200px;


border-radius: 200px;
background: #2f963b;
height: 40px;
top: 8px;
text-align: center;;
color: #fff;
font-weight: bold;
  font-size: 25px;
}


#numbers6 {
border-radius: 200px;
top: 8px;

border-radius: 200px;
background: #3065cf;
height: 40px;

text-align: ;;
color: #fff;
font-weight: bold;
  font-size: 25px;
}

.texto_menu p { 
  font-size: 13pt; 
}

#todo_menu{

	top: 109px;
 
}

#logo1{
  position: absolute;
  top: 10px;
    right: -312px;

}

#Logo2{
	top: -0px;
}

#seleccion{

	position: absolute;
	  right: 110px;
  top: 237px;
}
#Logo3{

	position: absolute;
    right: 330px;
    top: 530px;

	   }
#Logo4{

	position: absolute;
    right: 120px;
    top: 510px;

	   }

@media (max-width:1179px) {

.texto_menu p{
    
    font-size: 11px;
    
}
}

@media (max-width:1268px) {

.texto_menu p{
    
    font-size: 14px;
    
}
}


@media (max-width:1179px) {
#Logo3{

  position: absolute;
    right: 330px;
    top: 446px;

     }
#todo_menu{
  top:128px;
}
#Logo4{
  top: 428px;
}
.texto_menu p{
    
    font-size: 13px;
    
}
}



@media (max-width:1196px) {
#Logo3{

  position: absolute;
    right: 330px;
    top: 446px;

     }
#todo_menu{
  top:118px;
}
#Logo4{
  top: 428px;
}
.texto_menu p{
    
    font-size: 15px;
    
}
}



@media (max-width:1238px) {
#Logo3{

  position: absolute;
    right: 330px;
    top: 502px;

     }
#todo_menu{
  top:127px;
}
#Logo4{
  top: 478px;
}

  }


@media (max-width:1106px) {
#Logo3{

  position: absolute;
    right: 330px;
    top: 446px;

     }
#todo_menu{
  top:73px;
}
#Logo4{
  top: 428px;
}
.texto_menu p{
    
    font-size: 13px;
    
}

  }

  @media (max-width:1170px) {
#Logo3{

  position: absolute;
    right: 330px;
    top: 478px;

     }
#todo_menu{
  top:103px;
}
#Logo4{
  top: 456px;
}
.texto_menu p{
    
    font-size: 13px;
    
}

  }


  @media (max-width:1119px) {
#Logo3{

      top: 449px;
    

     }
#todo_menu{
  top:81px;
}
#Logo4{
  top: 433px;
}
.texto_menu p{
    
    font-size: 14px;
    
}

  }

@media (max-width:1119px) {
  #Logo3{
    top: 449px;
  }
  #todo_menu{
    top:81px;
  }
  #Logo4{
    top: 433px;
  }
  .texto_menu p{    
    font-size: 14px; 
                
  }
}


@media (max-width:1042px) {
  #Logo3{
    top: 416px;
  }
  #todo_menu{
    top:43px;
  }
  #Logo4{
    top: 405px;
  }
  .texto_menu p{    
    font-size: 14px; 
                
  }
}


@media (max-width:1042px) {
  #Logo3{
    top: 416px;
  }
  #todo_menu{
    top:43px;
  }
  #Logo4{
    top: 405px;
  }
  .texto_menu p{    
    font-size: 14px; 
                
  }
}

@media (max-width:967px) {
  #Logo3{
    top: 401px;
  right: 269px;
    }
  #todo_menu{
    top:21px;
  }
  #Logo4{
    top: 384px;
  }
  .texto_menu p{    
    font-size: 14px; 
                
  }
  #logo1 {
  position: absolute;
  top: 30px;
  right: -272px;
}
}
@media (max-width:927px) {
  #Logo3{
    top: 376px;
  right: 269px;
    }
  #todo_menu{
    top:3px;
  }
  #Logo4{
    top: 364px;
  }
  .texto_menu p{    
    font-size: 14px; 
                
  }
  #logo1 {
  position: absolute;
  top: 30px;
  right: -272px;
}
#Logo2 {
  top: -17px;
}
}

@media (max-width:913px) {
  #Logo3{
    top: 376px;
  right: 269px;
    }
  #todo_menu{
    top:3px;
  }
  #Logo4{
    top: 364px;
  }
  .texto_menu p{    
    font-size: -20px; 
                
  }
  #logo1 {
  position: absolute;
  top: 30px;
  right: -272px;
}
#Logo2 {
  top: -27px;
}
}

@media (max-width:868px) {
  #Logo3{
    top: 354px;
  
    }
  #todo_menu{
    top:-13px;
  }
  #Logo4{
    top: 341px;
  }
  .texto_menu p{    
    font-size: -14px; 
                
  }
  #logo1 {
  display: none}
#Logo2 {
  top: -27px;
}
}

@media (max-width:849px) {
  #Logo3{
    top: 354px;
  
    }
  #todo_menu{
    top:-13px;
  }
  #Logo4{
    top: 341px;
  }
  .texto_menu p{    
    display: none;
                
  }
  #logo1 {
  display: none}
#Logo2 {
  top: -27px;
  right: -6px;
}
}

@media (max-width:825px) {
  #Logo3{
    top: 325px;
  
    }
  #todo_menu{
    top:-1px;
  }
  #Logo4{
    top: 316px;
  }
#Logo2 {
  display: none;
}
#seleccion {
  position: absolute;
  right: 110px;
  top: 155px;
}

}



@media (max-width:700px) {
  body{
    width:700px;
  }
}







